.navbar {
    position: relative;
    min-width: 200px;
    max-width: 20vw;
    max-height: 100vh;
    min-height: 100vh;
    background-color: #4C4B16;
    font-size: 1.3rem;
    filter: drop-shadow(2px 2px 2px #000);
  }
  
  .actionItems {
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom: #000 solid;
  }
  
  /* @media screen and (max-width: 1400px) {
    .navbar {
      display: none;
    }
    
    .menu-hamburguer {
      display: block;
    }
  } */
  
  .topItems {
    background-color: rgba(247, 241, 229, 0.7);
    border: solid #000000;
    border-width: 0.1rem 0 0.2rem 0;
    font-weight: 600;
    cursor: pointer;
  }
  
  .logo{
    align-self: flex-start;
  }
  
  .textoLogo {
    font-family: 'Gotham Black';
    font-size: 2rem;
    color: #f7f1e5;
    align-self: flex-end;
    padding: 1rem 2rem;
  }
  
  .botItems {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
  }
  
  .topSidebar {
    padding: 0.5rem;
    display: flex;
    text-align: center;
    cursor: pointer;
  }
  
  .actionItems:hover , .sair:hover {
    background-color: rgba(247, 241, 229, 0.4);
    transition: 0.4s;
  }
  
  .sair {
    padding: 0.5rem 0;
    background-color: rgba(247, 241, 229, 0.5);
    border-top: 0.1rem solid #000000;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Gotham Black';
  }
  
  .sairTexto {
    padding-left: 0.5rem;
  }
  
  .icon {
    padding: 0 1.2rem;
  }
  
  .usuario {
    padding: 0.5rem;
  }
  
  .molduraOctagonal {
    position: absolute;
    height: 80px;
    width: 80px;
    z-index: 2;
    clip-path: polygon(
      32% 0,
      68% 0,
      100% 32%,
      100% 68%,
      68% 100%,
      32% 100%,
      0 68%,
      0 32%
    );
  }
  
  .fotoUsuario {
    position: relative;
    height: 80px;
    width: 80px;
    z-index: 1;
    clip-path: polygon(
      32% 0,
      68% 0,
      100% 32%,
      100% 68%,
      68% 100%,
      32% 100%,
      0 68%,
      0 32%
    );
  }
  
  .usuario {
    display: flex;
    background-color: rgba(247, 241, 229, 0.7);
  }
  
  .molduraFoto {
    align-self: flex-start;
  }
  
  .infoUsuario {
    align-self: flex-end;
    padding: 1rem 1rem;
  }
  
  .nomeUsuario {
    display: inline;
    font-size: 1.2rem;
    font-family: 'Gotham Black';
  }
  
  .funcaoUsuario {
    font-size: 1rem;
    font-family: 'Gotham';
  }
  
  .relatorio {
    font-family: 'Gotham Black';
    padding: 1rem 0;
    display: block;
    order: 2;
    flex-grow: 1;
    flex-shrink: 0;
  }
  