.divForm {
  margin: 0.5rem auto;
  background-color: #e7e0d1;
  border-radius: 10px;
  font-family: "Gotham Black";
  width: 85%;
  filter: drop-shadow(2px 2px 2px #000);
}

.formTop {
  text-align: center;
  font-size: 1.7rem;
}

.iconSmile {
  font-size: 3rem;
}

.paragraph {
  font-size: 1.2rem;
  text-align: center;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.formMain {
  display: flex;
}

.leftSide, .rightSide {
  margin: 0 1%;
  width: 50%;
}

.btn {
  cursor: pointer;
  background-color: #D9D9D9;
  width: 60%;
  height: 3rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: 'Gotham Black';
  display: flex;
  padding-top: 0.5rem;
  justify-content: center;
}

.btn:hover {
  background-color: #c4c4c4;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  padding: 2rem;
  filter: drop-shadow(2px 2px 2px #000);
}

.iconEye {
  padding-right: 0.5rem;
}

.inputBlock{
  display: flex;
}
.formDown{
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.textoRevisao {
  font-family: 'Gotham Black';
  background-color: #D9D9D9;
  color: black;
  margin: 0.5rem 0;
  width: 100%;
  border-radius: 5px;
  resize: none;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.row {
  border: 1px solid black;
  filter: drop-shadow(2px 0px 10px #000);
}

.legend {
  font-size: 1.4rem;
  margin: 0.5rem 0;
  text-align: left;
}

.label {
  display: block;
  margin: 1rem 0;
}

.mercadoria {
  display: block;
  text-align: center;
  padding-top: 1%;
  font-family: "Gotham Black";
  font-size: 1.7rem;

}

.divModal {
  position: absolute;
  left: 25%;
  top: 10%;
  width: 70%;
}

.container {
  text-align: center;
}

.btnConfirmar {
  margin-bottom: 1rem;
}