input[type="checkbox"].aprovar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
    background-color: #fff;
  }
  
  input[type="checkbox"].aprovar:before {
    content: '\2713';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: #000;
  }
  
  input[type="checkbox"].aprovar:checked:before {
    color: #fff;
  }
  
  input[type="checkbox"].aprovar:checked {
    background-color: #000;
  }
  
  input[type="checkbox"].aprovar:not(:checked) {
    background-color: #fff;
  }
  

  input[type="checkbox"].recusar {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    position: relative;
    background-color: #fff;
  }
  
  input[type="checkbox"].recusar:before {
    content: 'X';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: #000;
  }
  
  input[type="checkbox"].recusar:checked:before {
    color: #fff;
  }
  
  input[type="checkbox"].recusar:checked {
    background-color: #000;
  }
  
  input[type="checkbox"].recusar:not(:checked) {
    background-color: #fff;
  }
  