.table {
    font-family: 'Gotham Black';
}

.tableBackground {
    filter: drop-shadow(2px 2px 2px #000);
    background-color: #E7E0D1;
    padding: 1rem;
    width: 60vw;
    border-radius: 5px;
    margin: auto;    
}

.title {
    text-align: center;
    font-family: 'Gotham Black';
    margin: 1rem;
}

.tableRow {
    border: 1px solid black;
}

.tableData {
    text-align: center;
    border: 2px solid black;
}

.button {
    width: 100%;
    font-family: 'Gotham Black';
    font-size: 1rem;
    background-color: #E7E0D1;
    border: none;
    cursor: pointer;
}