.main {
    display: flex;
    max-height: 100vh;
    max-width: 100vw;
    background-color: #f7f1e5;
  }
  
  .container {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    margin: 0 auto;
  }