.external {
  text-align: center;
  font-family: "Gotham Black";
  border: 1px solid black;
  border-radius: 10px;
  background-color: #e7e0d1;
  padding: 4rem 2rem;
  margin-top: 7rem;
  filter: drop-shadow(0px 2px 5px #000);
}

.icon {
  font-size: 3.5rem;
}

.text {
  padding-top: 1rem;
  font-size: 1.5rem;
}
