.navbar {
  font-family: 'Gotham Black';
  position: fixed;
  height: 100%;
  background-color: #FF8A00;
  font-size: 1.1rem;
  box-shadow: 5px 0px 10px 1px #000000;
  width: 18%;
  display: grid;
  grid-template-rows: 5rem auto;
}

.topSidebar {
  padding: 0;
  text-align: center;
  cursor: pointer;
  grid-row-start: 1;
}

.logo {
  max-width: 80%;
  margin: 1rem auto;
  filter: drop-shadow(0px 2px 5px #000);
}


.topItems {
  background-color: rgba(247, 241, 229, 0.7);
  border: solid #000000;
  border-width: 0.1rem 0 0.2rem 0;
  font-weight: 600;
  cursor: pointer;
  grid-row-start: 2;
}

.actionItems {
  display: grid;
  grid-template-columns: 20% auto;
  border-bottom: 2px  #000 solid;
  height: 3rem;
}

@media screen and (max-width: 1650px) {
  .navbar {
    font-size: 1.1rem;
  }
}

/* @media screen and (max-width: 1400px) {
    .navbar {
      display: none;
    }
    
    .menu-hamburguer {
      display: block;
    }
  } */

  .botItems {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.actionItems:hover,
.sair:hover {
  background-color: rgba(247, 241, 229, 0.4);
  transition: 0.4s;
}

.sair {
  padding: 0.5rem 0;
  background-color: rgba(247, 241, 229, 0.5);
  border-top: 0.1rem solid #000000;
  font-weight: 600;
  cursor: pointer;
  font-family: "Gotham Black";
}

.sairTexto {
  padding-left: 0.5rem;
}

.icon{
  grid-column-start: 1;
  margin: auto;
  padding: 0.2rem;
  align-items: center;
  justify-content: center;
}

.relatorio{
  grid-column-start: 2;
  text-align: justify;
  margin: auto 0;
}

.usuario {
  padding: 0.5rem;
}

.molduraOctagonal {
  position: absolute;
  height: 70px;
  width: 70px;
  z-index: 2;
  clip-path: polygon(32% 0, 68% 0, 100% 32%, 100% 68%, 68% 100%, 32% 100%, 0 68%, 0 32%);
}

.fotoUsuario {
  position: relative;
  height: 70px;
  width: 70px;
  z-index: 1;
  clip-path: polygon(32% 0, 68% 0, 100% 32%, 100% 68%, 68% 100%, 32% 100%, 0 68%, 0 32%);
}

.usuario {
  display: flex;
  background-color: rgba(247, 241, 229, 0.7);
}

.molduraFoto {
  align-self: flex-start;
}

.infoUsuario {
  padding: 1rem 1rem;
  margin: auto;
}

.nomeUsuario {
  display: inline;
  font-size: 1.2rem;
  font-family: "Gotham Black";
}

.funcaoUsuario {
  font-size: 1rem;
  font-family: "Gotham";
}

