.external {
    position: fixed;
    background-color: #F7F1E5;
    border: 1px solid black;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(2px 2px 2px #000);
    font-family: 'Gotham Black';
    z-index: 9999;
}

.externalBack {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); /* Aplica um filtro de desfoque */
    z-index: 9998;
  }

.icon {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-50%, 50%);
    cursor: pointer;
    font-size: 3rem;
}