.inputBlock {
  display: flex;
}

.btn {
  cursor: pointer;
  background-color: #d9d9d9;
  height: 3rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: "Gotham Black";
  display: flex;
  padding: 0.5rem 8rem;
  margin-top: 0.2rem;
  justify-content: center;
}

.iconEye {
  padding-right: 0.5rem;
}
