.divForm {
  margin: 0.5rem auto;
  background-color: #e7e0d1;
  border-radius: 10px;
  font-family: "Gotham Black";
  width: 85%;
  filter: drop-shadow(2px 2px 2px #000);
}

.formTop {
  text-align: center;
  font-size: 1.7rem;
}

.iconSmile {
  font-size: 3rem;
}

.paragraph {
  font-size: 1.2rem;
  text-align: center;
  margin: 3rem 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.formMain {
  display: flex;
}

.leftSide{
  margin: 0 3% 0 1%;
  width: 40%;
}
.rightSide {
  margin: 0 1%;
  width: 70%;
}

.btn {
  cursor: pointer;
  background-color: #D9D9D9;
  width: 60%;
  height: 3rem;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: 'Gotham Black';
  display: flex;
  padding-top: 0.5rem;
  justify-content: center;
}

.btn:hover {
  background-color: #c4c4c4;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  filter: drop-shadow(2px 2px 2px #000);  
}

.iconEye {
  padding-right: 0.5rem;
}

.inputBlock{
  display: flex;
}

.customSelect{
  background-color: #D9D9D9;
  width: 16rem;
  height: 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: 'Gotham Black';
  display: flex;
  text-align: center;
  margin: 0.5rem auto;
}

.formDown{
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.textoRevisao {
  font-family: 'Gotham Black';
  background-color: #D9D9D9;
  color: black;
  margin: 0.5rem 0;
  width: 100%;
  border-radius: 5px;
  resize: none;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.row {
  border: 1px solid black;
  filter: drop-shadow(2px 0px 10px #000);
}

.legend {
  cursor: default;
  font-size: 1.4rem;
  margin: 0.5rem 0;
  text-align: left;
}

.label {
  display: block;
  margin-top: 0.5rem;  
}

.mercadoria {
  cursor: default;
  text-align: center;
  padding: 0.5%;
  font-family: "Gotham Black";
  font-size: 1rem;
}

.divModal {
  position: absolute;
}

.container {
  text-align: center;
  padding: 2vw;
  margin:auto;
}

.btnConfirmar {
  margin-bottom: 1rem;
}

.divMaster {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.idProduto{
  display: flex;
}

.SelectProduto{
  background-color: #D9D9D9;
  width: 10rem;
  height: 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: 'Gotham Black';
  display: flex;
  text-align: center;
  margin: 0.5rem auto;
}

.divProduto{
  margin-right: 1rem;
}

.quantidade{
  background-color: #D9D9D9;
  width: 4rem;
  height: 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: 'Gotham Black';
  text-align: center;
  margin: 0.5rem 0;
}

.selectMedida{
  background-color: #D9D9D9;
  width: 12rem;
  height: 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: 'Gotham Black';
  text-align: center;
  margin: 0.5rem 1rem;
}

.btnsRN {
  cursor: default;
  background-color: #D9D9D9;
  width: 60%;
  height: 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-family: 'Gotham Black';
  display: flex;
  text-align: center;
  margin: 0.5rem 0;
  margin-right: 1rem;
}

.anexarBTN{
  cursor: pointer;
  text-align: center;
  font-size: 3rem;
  min-width: 80%;
  margin: 1rem 0rem;
  padding: 0 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: #D9D9D9;
  font-family: 'Gotham';
  filter: drop-shadow(2px 2px 2px #000);
  
}

/* inputs */

input[type="checkbox"] {
  font-family: 'Gotham Black';
  margin: auto;
  padding: 1.1rem;
}

input[type="checkbox"].aprovar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: #fff;
}

input[type="checkbox"].aprovar:before {
  content: '\2713';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

input[type="checkbox"].aprovar:checked:before {
  color: #fff;
}

input[type="checkbox"].aprovar:checked {
  background-color: #000;
}

input[type="checkbox"].aprovar:not(:checked) {
  background-color: #fff;
}


input[type="checkbox"].recusar {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: #fff;
}

input[type="checkbox"].recusar:before {
  content: 'X';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

input[type="checkbox"].recusar:checked:before {
  color: #fff;
}

input[type="checkbox"].recusar:checked {
  background-color: #000;
}

input[type="checkbox"].recusar:not(:checked) {
  background-color: #fff;
}