.formAprovador {
    background-color: #E7E0D1;
    border-radius: 10px;
    margin: 2rem;
    font-family: 'Gotham Black';
}

.formTop {
    padding: 1rem;
    text-align: center;
    font-size: 1.7rem;
}