.formAprovador {
  background-color: #e7e0d1;
  border-radius: 10px;
  margin: 2rem;
  font-family: "Gotham Black";
}

.formTop {
  padding: 1rem;
  text-align: center;
  font-size: 1.7rem;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

