.external {
  font-family: 'Gotham Black';
  display: inline-flex;
  height: 30%;
}

.clipboard-a,
.clipboard-b {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35%;
  border-radius: 15px;
  background-color: rgba(231, 224, 209, 1);
  -webkit-box-shadow: 5px 0px 10px 1px #000000;
  box-shadow: 2px 0px 5px 1px #000000;
}

.clipboard-a {
  margin-right: 3rem;
}

.clipboard-b {
  margin-left: 3rem;
}

.left-side-a,
.left-side-b {
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-side-a, .right-side-b {
  text-align: center;
  font-size: 1.7rem;
}

.right-side-a h2,
.right-side-b h2 {
  display: inline-block;
  margin-left: 10px;
}

.right-side-a h3,
.right-side-b h3 {
  margin: 0;
  font-size: 16px;
}
