.external {
    font-family: 'Gotham Black';
    display: inline-flex;
    height: 30%;
  }
  
  .clipboardA,
  .clipboardB {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;
    border-radius: 15px;
    background-color: rgba(231, 224, 209, 1);
    -webkit-box-shadow: 5px 0px 10px 1px #000000;
    box-shadow: 2px 0px 5px 1px #000000;
  }
  
  .clipboardA {
    margin-right: 3rem;
  }
  
  .clipboardB {
    margin-left: 3rem;
  }
  
  .leftSideA,
  .leftSideB {
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rightSideA, .rightSideB {
    text-align: center;
    font-size: 1.7rem;
  }
  
  .rightSideA h2,
  .rightSideB h2 {
    display: inline-block;
    margin-left: 10px;
  }
  
  .rightSideA h3,
  .rightSideB h3 {
    margin: 0;
    font-size: 16px;
  }
  