.btn {
  cursor: pointer;
  background-color: #FF8A00;
  color: white;
  font-family: "Gotham Black";
  padding: 0.7rem;
  font-size: 1rem;
  border: solid 2px black;
  border-radius: 7px;
}

.btn:hover {
  background-color: #b9670b;
}

.span:before {
  content: attr(data-text);
}

.span:after {
  content: attr(data-text-after);
}

.span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
  white-space: pre-wrap;
  line-height: 1.5em;
}